@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-pbci: #050e3e;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
}

.testing {
  -webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}